################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Baekjoon
.vs/Baekjoon/v16/.suo
.vs/Baekjoon/v16/Browse.VC.db
.vs/Baekjoon/v16/ipch/AutoPCH/24dffd15c0c8eeb8/15232.ipch
.vs/Baekjoon/v16/ipch/AutoPCH/4c866980b0ad7f50/9012.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Code/.vs/Code/v16/.suo
Code/.vs/Code/v16/ipch/AutoPCH/b7c361394eff0411/9012.ipch
Code/.vs/Code/v16/Browse.VC.db
Code/.vs/ProjectSettings.json
Code/.vs/slnx.sqlite
Code/.vs/VSWorkspaceState.json
